<div class="col-md-12">
	<div id="diag" class="col-md-6">
		<p style="padding:15px;padding-top:25px;" class="cursive p-foo">Cpanel@2015 Todos Los Derechos Reservados</p>		
	</div>
	<div id="list" class="col-md-6">
		<div class="row" style="padding-top:25px;">
			<div class="col-md-12">
				<div class="col-md-4">
					<h3 style="text-align:left" class="h-foo" >Que es?</h3>
					<p style="text-align:justify;" class="p-foo">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eleifend commodo magna, quis scelerisque velit iaculis vulputate.
					</p>
				</div>
				<div class="col-md-6">
				<h3 style="text-align:left" class="h-foo">Redes Sociales</h3> 
					<ul class="list-group">
						<li class="list-group-item"> 
							<a class="pointer">
								<%= image_tag "facebook.png", :alt => "facebook", :title => "facebook"%>
							</a> 
							<span style="padding-left:15px;">Facebook</span>
						</li>
						<li class="list-group-item"> 
							<a class="pointer">
								<%= image_tag "twitter.png", :alt => "twitter", :title => "twitter"%>
							</a> 
							<span style="padding-left:15px;">Twitter</span>
						</li>
						<li class="list-group-item"> 
							<a class="pointer">
								<%= image_tag "youtube.png", :alt => "youtube", :title => "youtube"%>
							</a> 
							<span style="padding-left:15px;">You-tube</span>
						</li>
					</ul>
				</div>
				<div class="col-md-2">
					
				</div>
			</div>
		</div>
	</div>
</div>