 <!-- Slider -->
<div id="slider-home" class="row slider no-margin" style="position:top;" >
	<div class="container">
		<div class="carousel slide auto" id="carousel-home" data-ride="carousel" data-interval="3000"> 
			<ol class="carousel-indicators">
				<!-- Indicators -->
				<li data-target="#carousel-home" data-slide-to="0" class="active"></li>
				<li data-target="#carousel-home" data-slide-to="1" class=""></li>
				<li data-target="#carousel-home" data-slide-to="2" class=""></li>
				<!-- End Indicators -->
			</ol> 		
			<div class="carousel-inner">
				<div class="item active">
					<img src="http://placehold.it/1000x500&text=Slide One" 
						 alt="Descripción Slide 01" 
						 class="img-responsive">
					<div class="caption carousel-caption">
						<h3>My terms and conditions are subject to change Slide 01</h3>
					</div>
				</div>
				
				<div class="item">
					<img src="http://placehold.it/1000x500&text=Slide Two" 
						 alt="Descripción Slide 02" 
						 class="img-responsive">
					<div class="caption carousel-caption">
						<h3>My terms and conditions are subject to change Slide 02</h3>
					</div>
				</div>
				
				<div class="item">
					<img src="http://placehold.it/1000x500&text=Slide Three" 
						 alt="Descripción Slide 03" 
						 class="img-responsive">
					<div class="caption carousel-caption">
						<h3>My terms and conditions are subject to change Slide 03</h3>
					</div>
				</div>
			</div> 
		</div> 
	</div>
</div>
<br/>
<br/>
<!-- Ini Row -->
	<div class="row"> 
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-check"></i> Bootstrap v3.2.0</h4>
                    </div>
                    <div class="panel-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
                        <a href="#" class="btn btn-default">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-gift"></i> Free &amp; Open Source</h4>
                    </div>
                    <div class="panel-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
                        <a href="#" class="btn btn-default">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-compass"></i> Easy to Use</h4>
                    </div>
                    <div class="panel-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
                        <a href="#" class="btn btn-default">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
<!-- /.row -->
<!-- Ini Row -->
	<div class="row">
            <div class="col-md-6">
                <img class="img-responsive" src="http://placehold.it/750x450" alt="">
            </div>
            <div class="col-md-6">
                <h2>Nosotros</h2>
                <p style="text-align:justify;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed voluptate nihil eum consectetur similique? Consectetur, quod, incidunt, harum nisi dolores delectus reprehenderit voluptatem perferendis dicta dolorem non blanditiis ex fugiat.</p>
                <p style="text-align:justify;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, magni, aperiam vitae illum voluptatum aut sequi impedit non velit ab ea pariatur sint quidem corporis eveniet. Odit, temporibus reprehenderit dolorum!</p>
                <p style="text-align:justify;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, consequuntur, modi mollitia corporis ipsa voluptate corrupti eum ratione ex ea praesentium quibusdam? Aut, in eum facere corrupti necessitatibus perspiciatis quis?</p>
            </div>
        </div>
<!-- /.row -->
<script type="text/javascript">
	$(document).ready(function(){
		$('#carousel-home').carousel();
	});
</script>


